.contact {
    position: absolute;
    width: 90%;
    float: left;
    margin-left: 100px;
    z-index: 1;
    background: transparent;
}

.contact-img {
    width: 500px;
    right: 125px;
    position: absolute;
}

.contact h1 {
    font-size: 80px;
}

.mail-in-contact {
    display: inline-block;
    color:#212121;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    letter-spacing: 3px;
    margin-left: 50px;
}
.mail-in-contact:hover {
    color:#efbe03
}

@media only screen and (max-width: 730px) {
    .contact-foot {
        margin-left: 25px;
    }
    .contact {
        margin-left: 25px;
    }
    .mail-in-contact {
        letter-spacing: 0px;
        margin-left: 0px;
    }
}